/* Navbar */
.navbar-brand .logo {
    width: 40px;
    /* Tamaño del logo */
    height: auto;
}

/* Estilos generales del menú lateral */
.menu-open {
    width: 250px;
    /* Ancho cuando está abierto */
    transition: width 0.3s ease;
}

.menu-closed {
    width: 80px;
    /* Ancho cuando está cerrado */
    transition: width 0.3s ease;
}

.toggle-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Menú lateral: elementos */
.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    font-size: 1rem;
    color: #007bff;
    transition: all 0.3s ease;
}

.nav-link i {
    font-size: 1.5rem;
}

.menu-open .nav-link span {
    font-size: 1.1rem;
    /* Tamaño del texto cuando el menú está abierto */
}

.menu-closed .nav-link span {
    opacity: 0;
    /* Oculta el texto cuando el menú está cerrado */
    transition: opacity 0.3s ease;
}