<div class="main-container">
    <div class="header">
        <img [src]="logo" alt="Alogar Logo" class="logo">
        <div class="user"></div>
    </div>
    <div class="main-panel">
        <div class="products-list">
            <div class="products">
                <div class="products-header">
                    <div class="add-product">
                        <span class="material-icons">add</span>
                        <p>Add New Item</p>
                    </div>
                    <div class="search-box">
                        <input type="text" placeholder="Search product">
                        <span class="material-icons">search</span>
                    </div>
                </div>
<!--                 <app-products-list [products]="filteredProducts"></app-products-list> -->
            </div>
            <div class="categories">
                <app-categories-icons [categories]="categories" (selectedCategory)="filterProducts($event)"></app-categories-icons>
            </div>
        </div>
        <div class="checkout">
            <div class="boleta"></div>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-cancel">Cancel Order</button>
        <button class="btn btn-pay">Pay</button>
    </div>
</div>