<div class="main-container">
    <div class="header"></div>
    <div class="main-panel">
        <div class="products-list">
            <div class="products">
                <div class="products-header"></div>
                <div class="list"></div>
            </div>
            <div class="categories" [ngStyle]="{'height': isOpenCategories ? 'auto' : '50px'}">
                <div class="category" *ngFor="let category of categories">
                    <p>{{ category.name }}</p>
                </div>
            </div>
            <button (click)="changeHeightCategories()">
                <span class="material-icons">
                    {{ isOpenCategories ? 'expand_less' : 'expand_more' }}
                </span>
            </button>
        </div>
        <div class="checkout"></div>
    </div>
    <div class="footer">
        <button>Cancel Order</button>
        <button>Pay ()</button>
    </div>
</div>